@charset "utf-8";


div{

    border: 1px solid #ccc;
    width: 500px;
    padding :10px;
}

li span{
   font-weight: 700;
   
   color: #ad3000;
}
ul{
    line-height: 2.0;
}
li{
     list-style: none;

}