@charset "utf-8";

div{
     border: 1px solid #ccc;
}
.div2{
width: 1000;
padding: 20px;
}
.div1{

   
    width: 1000px;
   
    padding :30px;
}

.div3{
    width: 1000px;
    height: 550px;
    /* margin-top: 20px; */

   margin-top: 30px;
   
   
}

.left{
    width: 300px;
    height: 200px;
    float: left;
}
/* .middle{
    width: 200px;
    height: 200px;
} */

.right{
    margin-top: 30px;
    margin-right: 10px;
        width: 300px;
    height: 200px;
 
   
background-color: #ddd;

}

.div6
{
      clear: both; 
    display: inline-block;
      margin-top: 20px;
      width: 900px;
      padding: 10px;
 

  

  

}

li span{
   font-weight: 700;
   line-height: 2.0;
   color: #ad3000;
}
