@charset "utf-8";

/* 2d transform */
ul li{

    font-size: 25px;
    color: blue;
    margin-left: -40px;
}

li {
  border-left: 7px solid purple;
  margin-bottom: 6px;
  list-style: none;

    
}



hr{

    border-width:1px 0 0 0; border-style:dotted; border-color:#bbb;
}
