@charset "utf-8";

/* 2d transform */
ul li{

    font-size: 25px;
    color: blue;
    margin-left: -40px;
}


.p1{
   border-left: 7px solid purple;
   float: left;
}


h2{
  clear: both;
}
hr{

    border-width:1px 0 0 0; border-style:dotted; border-color:#bbb;
}
