@charset "utf-8";

/* 필터를 이용한 특수 효과 지정하기 */


table{
  margin-left: 150px;
  border-collapse: collapse;
  caption-side: bottom;
  
}


th{
  background-color: #ddd;
 
}
td , th{
  padding: 10px;
}

/* tr td{
  background-color: #ddd;
}

table tr:nth-of-type(2) td:nth-of-type(2)
{
  background-color: #fff;
}
table tr:nth-of-type(2) td:nth-of-type(3)
{
  background-color: #fff;
}
table tr:nth-of-type(3) td:nth-of-type(2)
{
  background-color: #fff;
}
table tr:nth-of-type(3) td:nth-of-type(3)
{
  background-color: #fff;
}
table tr:nth-of-type(4) td:nth-of-type(2)
{
  background-color: #fff;
}
table tr:nth-of-type(4) td:nth-of-type(3)
{
  background-color: #fff;
} */

p{
  margin-top: -2px;
  margin-left: 200px;
  font-size: 14px;
}





